%h1.first The Technology of LEAP

%p The long term LEAP plan consists of a set of #{link 'communication services' => 'services'} built upon the core technologies detailed here.

%p
  %b #{link 'Information Security' => 'infosec'}:
  An analysis of different approaches to information security and how the LEAP strategy compares.

%p
  %b #{link 'Provider Platform' => 'platform'}:
  Turn-key automation for communication service providers.

%p
  %b #{link 'LEAP Client' => 'client'}:
  Easy to use client for secure communication.

%p
  %b #{link 'Nicknym' => 'nicknym'}:
  A system for automatic discovery and validation of cryptographic identity.

%p
  %b #{link 'Map Resistant Routing' => 'routing'}:
  A system for message routing that is resistant to association mapping.

%p
  %b #{link 'Critiques' => 'critiques'}:
  Anticipated critiques of the LEAP architecture.


-# https://guardianproject.info/wiki/Always_Secure_Messaging